body{background-color: #b8293d;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    }
    textarea {
     color: #003b00;
     border: 2px solid #003b00;
     border-radius: 10px;
     padding: 10px 25px;
     background: transparent;
     max-width: 190px;
    }
    
    textarea:hover {
     box-shadow: 2px 2px 15px #003b00 inset;
    }
    textarea :active{
        box-shadow: 2px 2px 15px #003b00 inset;
    }
    button {
     --color: #003b00;
     padding: 0.8em 1.7em;
     background-color: transparent;
     border-radius: .3em;
     position: relative;
     overflow: hidden;
     cursor: pointer;
     transition: .3s;
     font-weight: 400;
     font-size: 17px;
     border: 1px solid;
     font-family: inherit;
     text-transform: uppercase;
     color: var(--color);
     z-index: 1;
    }
    
    button::before, .button::after {
     content: '';
     display: block;
     width: 50px;
     height: 50px;
     transform: translate(-50%, -50%);
     position: absolute;
     border-radius: 50%;
     z-index: -1;
     background-color: var(--color);
     transition: 1s ease;
    }
    
    button::before {
     top: -1em;
     left: -1em;
    }
    
    button::after {
     left: calc(100% + 1em);
     top: calc(100% + 1em);
    }
    
    button:hover::before, .button:hover::after {
     height: 410px;
     width: 410px;
    }
    
    button:hover {
     color: rgb(10, 25, 30);
    }
    
    button:active {
     filter: brightness(.8);
    }
    
    
    
    p {
     margin: 225px;
     padding: 10px;
     color: #003b00;
     height: 30px;
     font-size: 17px;
     text-align: center;
     width: 25px;
     font-weight: bold;
     font-family: 'Courier New', Courier, monospace;
    }
    
